@import 'settings';
@import 'foundation-emails';

@import 'authentica-hero/authentica-hero';

%blank {
	display: block;
	height: 1px;
	width: 1px;
	max-width: none;
}

%l-visible {
	@media (max-width: $global-breakpoint) {
		display: none;
	}
}

%text {
	margin: 0 !important;
	letter-spacing: 1.7px;
	line-height: (17 / 14);
}
