@font-face {
	font-family: 'PF Agora Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url('https://nomail.com.ua/files/eot/d8c70beda312c3edc49616eb30e3eddf.eot');
	src: local('PF Agora Sans Pro'), local('PFAgoraSansPro'),
		url('https://nomail.com.ua/files/eot/d8c70beda312c3edc49616eb30e3eddf.eot?#iefix') format('embedded-opentype'),
		url('https://nomail.com.ua/files/woff/d8c70beda312c3edc49616eb30e3eddf.woff') format('woff'),
		url('https://nomail.com.ua/files/woff2/d8c70beda312c3edc49616eb30e3eddf.woff2') format('woff2');
}
@font-face {
	font-family: 'PF Agora Sans Pro';
	font-style: italic;
	font-weight: 400;
	src: url('https://nomail.com.ua/files/eot/f56e8e0dba303743306d774196634d78.eot');
	src: local('PF Agora Sans Pro'), local('PFAgoraSansPro'),
		url('https://nomail.com.ua/files/eot/f56e8e0dba303743306d774196634d78.eot?#iefix') format('embedded-opentype'),
		url('https://nomail.com.ua/files/woff/f56e8e0dba303743306d774196634d78.woff') format('woff'),
		url('https://nomail.com.ua/files/woff2/f56e8e0dba303743306d774196634d78.woff2') format('woff2');
}
@font-face {
	font-family: 'PF Agora Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: url('https://nomail.com.ua/files/eot/db7576c2bea2b20e5e68e19d35c64f1e.eot');
	src: local('PF Agora Sans Pro'), local('PFAgoraSansPro'),
		url('https://nomail.com.ua/files/eot/db7576c2bea2b20e5e68e19d35c64f1e.eot?#iefix') format('embedded-opentype'),
		url('https://nomail.com.ua/files/woff/db7576c2bea2b20e5e68e19d35c64f1e.woff') format('woff'),
		url('https://nomail.com.ua/files/woff2/db7576c2bea2b20e5e68e19d35c64f1e.woff2') format('woff2');
}
@font-face {
	font-family: 'PF Agora Sans Pro';
	font-style: italic;
	font-weight: 700;
	src: url('https://nomail.com.ua/files/eot/37dd0c52b395784cd28a63104580946d.eot');
	src: local('PF Agora Sans Pro'), local('PFAgoraSansPro'),
		url('https://nomail.com.ua/files/eot/37dd0c52b395784cd28a63104580946d.eot?#iefix') format('embedded-opentype'),
		url('https://nomail.com.ua/files/woff/37dd0c52b395784cd28a63104580946d.woff') format('woff'),
		url('https://nomail.com.ua/files/woff2/37dd0c52b395784cd28a63104580946d.woff2') format('woff2');
}


@import './container-addon.scss';
@import './header';
@import './logo';
@import './phones';
@import './hr';
@import './menu';
