.container-addon {
	width: 100%;
	&__blank {
		@extend %blank;
		width: 30px !important;

		@media (max-width: $global-breakpoint) {
			height: 1px !important;
		}
	}

	&__cell {
		width: 100%;
		&:first-child,
		&:last-child {
			width: 30px;
			vertical-align: middle;
		}
	}
}
