.forehead {
	&__title {
		font-weight: 400;
		font-family: $body-font-family !important;
		font-size: 25px;
		line-height: (30 / 25);
		text-align: center !important;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $radical-red !important;
		margin: 0 !important;

		strong {
			font-size: 25px;
			font-weight: 700;
		}

		@media (max-width: $global-breakpoint) {
			font-size: ((15 + 25) / 2) + px !important;
			font-size: calc(0.9375rem + ((1vw - 3.6px) * 3.6765)) !important;
		}

		@media (max-width: $s) {
			font-size: 15px !important;
		}
	}

	&__text {
		@extend %text;
		text-align: center;
	}
}
