@use 'sass:math';

.forehead {

  &__title {
    margin: 0 !important;
    font-family: $body-font-family !important;
    font-size: 25px;
    font-weight: 400;
    line-height: math.div(30, 25);
    text-align: center !important;
    color: $radical-red !important;
    text-transform: uppercase;
    letter-spacing: 2px;

    strong {
      font-size: 25px;
      font-weight: 700;
    }

    @media (max-width: $global-breakpoint) {
      font-size: calc(.9375rem + ((1vw - 3.6px) * 3.6765)) !important;
    }

    @media (max-width: $s) {
      font-size: 15px !important;
    }
  }

  &__text {
    @extend %text;
    text-align: center;
  }
}
