.header {
	width: 100%;
	table-layout: fixed;

	&__cell {
		&--logo,
		&--phones {
			vertical-align: middle;

			@media (max-width: $s) {
				display: block;
				width: 100% !important;
			}
		}

		&--logo {
			width: 55%;
			@media (max-width: $s) {
				text-align: center !important;
			}
		}

		&--phones {
			width: 45%;
			text-align: right;
		}

		&--padding {
			display: none;

			@media (max-width: $s) {
				display: block !important;
			}
		}
	}
}
