.menu,
table.menu {
	&--custom {
		width: $global-width - $global-gutter * 2;
		table {
			margin: 0 auto !important;
		}
	}

	&__item {
		&--highlighted {
			color: $radical-red;

			a {
				color: $radical-red  !important;

				&:visited {
					color: $radical-red !important;
				}
			}
		}

		a {
			line-height: (14 / 17);
			font-size: 14px !important;
			text-decoration: none !important;
		}
	}

	@media (max-width: $global-breakpoint) {
		display: none;
	}
}
