.phones {
	&__item {
		@media (max-width: $s) {
			text-align: center;
		}
	}
	&__link {
		text-decoration: none;
		color: $dusty-gray !important;
		text-decoration: none;
		letter-spacing: -.3333px;
	}
}
