.products {
	&__media {
		th {
			vertical-align: middle;
			text-align: center !important;
			height: 236px;
		}

		&-link {
			display: inline-block;
			vertical-align: middle;
		}

		&-image {
			display: block;
		}
	}

	&__name {
		line-height: (16 / 14);

		&-link {
			color: $sandal;

			&:visited {
				color: $sandal;
			}
		}
	}

	&__shortsay {
		color: $black;
		font-size: 14px;
		line-height: (16 / 14);
	}

	&__infoblock {
		> table {
			table-layout: fixed;
		}
	}

	&__price {
		color: $black;
		letter-spacing: .3333px;
	}

	&__description {
		color: $dusty-gray;
		font-size: 12px;
		line-height: (15 / 12);
	}

	&__action {
		@extend %button;
		margin-bottom: 0;
		width: 210px;

		@media (max-width: $global-breakpoint) {
			width: 100% !important;
		}
	}
}

table.products__action {
	width: 210px;
}
