@use 'sass:math';

.products {

  &__media {

    &-link {
      display: inline-block;
      vertical-align: middle;
    }

    &-image {
      display: block;
    }

    th {
      height: 236px;
      vertical-align: middle;
      text-align: center !important;
    }
  }

  &__name {
    line-height: math.div(16, 14);

    &-link {
      color: $sandal;

      &:visited {
        color: $sandal;
      }
    }
  }

  &__shortsay {
    font-size: 14px;
    line-height: math.div(16, 14);
    color: $black;
  }

  &__infoblock {

    > table {
      table-layout: fixed;
    }
  }

  &__price {
    color: $black;
    letter-spacing: .3333px;
  }

  &__description {
    font-size: 12px;
    line-height: math.div(15, 12);
    color: $dusty-gray;
  }

  &__action {
    @extend %button;
    width: 210px;
    margin-bottom: 0;

    td td a {
      text-transform: uppercase;
    }

    @media (max-width: $global-breakpoint) {
      width: 100% !important;
    }
  }
}

table.products__action {
  width: 210px;
}
