<container class="container--footer">
	<spacer size="20"></spacer>
	<table class="footer">
		<tbody class="footer__tbody">
			<tr class="footer__row">
				<th class="footer__cell footer__cell_blank_1">
					<img src="./../assets/img/blank.gif" alt="Blank gif" width="30" height="1" class="footer__blank">
				</th>
				<th class="footer__cell footer__cell--logo">
					<spacer size="2" class="l-visible"></spacer>
					{{> logo }}
					<spacer size="25"></spacer>
					{{> social }}
				</th>
				<th class="footer__cell footer__cell_blank_2">
					<img src="./../assets/img/blank.gif" alt="Blank gif" width="30" height="1" class="footer__blank">
				</th>
				<th class="footer__cell footer__cell--feedback">
					<h5 class="footer__feedback-title">
						НУЖНА ПОМОЩЬ?
					</h5>
					<spacer size="12"></spacer>
					<div class="phones">
						<div class="phones__item">
							<a href="tel:+74957772090" class="phones__link">(495) 777-20-90</a>
						</div>
						<spacer size="11"></spacer>
						<div class="phones__item">
							<a href="tel:78007772090" class="phones__link">(800) 777-20-90</a>
						</div>
					</div>
					<spacer size="11"></spacer>
					<div class="footer__email-wrapper">
						<a href="mailto:service@authentica.love" class="footer__email">
							service@authentica.love
						</a>
					</div>
				</th>
				<th class="footer__cell footer__cell_blank_3">
					<img src="./../assets/img/blank.gif" alt="Blank gif" width="18" height="1" class="footer__blank">
				</th>
				<th class="footer__cell footer__cell--paragraph">
					<p class="footer__paragraph">
						Вы получили это письмо, так как подписались на рассылку сайта authentica.love с целью получения информации о новых продуктах, сезонных тенденциях и эксклюзивных предложениях. Если вы больше не хотите получать подобные письма, пожалуйста, нажмите <a href="#" target="_blank" class="footer__unsubscribe">отписаться от рассылки.</a>
					</p>
				</th>
				<th class="footer__cell footer__cell_blank_4">
					<img src="./../assets/img/blank.gif" alt="Blank gif" width="30" height="1" class="footer__blank">
				</th>
			</tr>
		</tbody>
	</table>
	<spacer size="15"></spacer>
</container>
