<container class="container--forehead">
	<table class="container-addon">
		<tbody class="container-addon__tbody">
			<tr class="container-addon__tr">
				<th class="container-addon__cell">
					<img src="./../assets/img/Blank.gif" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
				<th class="container-addon__cell">
					<div class="forehead">
						<h1 class="forehead__title">
							<strong>Заряжены на путешествие:</strong>
							средства в формате travel-size
						</h1>
					</div>
				</th>
				<th class="container-addon__cell">
					<img src="./../assets/img/Blank.gif" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
			</tr>
		</tbody>
	</table>
</container>
