<container class="container--forehead">
	<table class="container-addon">
		<tbody class="container-addon__tbody">
			<tr class="container-addon__tr">
				<th class="container-addon__cell">
					<img src="{{blankImg}}{{blankImgRemote}}" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
				<th class="container-addon__cell">
					<div class="forehead">
						<h1 class="forehead__title">
							<strong>Заряжены на путешествие:</strong>
							средства в формате travel-size
						</h1>
						<spacer size="16"></spacer>
						<p class="forehead__text">
							Собираясь на каникулах в новую страну, <br class="forehead__br">
							не забудьте про миниатюры любимых средств.
						</p>
					</div>
				</th>
				<th class="container-addon__cell">
					<img src="{{blankImg}}{{blankImgRemote}}" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
			</tr>
		</tbody>
	</table>
</container>
