<container class="container--header">
	<table class="container-addon">
		<tbody class="container-addon__tbody">
			<tr class="container-addon__tr">
				<th class="container-addon__cell">
					<img src="./assets/img/blank.gif" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
				<th class="container-addon__cell">
					<spacer size="19"></spacer>
					<table class="header">
						<tbody class="header__tbody">
							<tr class="header__row">
								<th class="header__cell header__cell--logo">
									{{> logo }}
								</th>
								<th class="header__cell header__cell--padding">
									<spacer size="8"></spacer>
								</th>
								<th class="header__cell header__cell--phones">
									{{> phones }}
									<spacer size="1" class="l-visible"></spacer>
								</th>
							</tr>
						</tbody>
					</table>
					<spacer size="8"></spacer>
				</th>
				<th class="container-addon__cell">
					<img src="./assets/img/blank.gif" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
			</tr>
		</tbody>
	</table>
</container>
