<container class="container--hr">
	<table class="container-addon">
		<tbody class="container-addon__tbody">
			<tr class="container-addon__tr">
				<th class="container-addon__cell">
					<img src="{{blankImg}}{{blankImgRemote}}" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
				<th class="container-addon__cell">
					<hr class="hr">
				</th>
				<th class="container-addon__cell">
					<img src="{{blankImg}}{{blankImgRemote}}" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
			</tr>
		</tbody>
	</table>
</container>
