<container class="container--main">
	<table class="container-addon">
		<tbody class="container-addon__tbody">
			<tr class="container-addon__tr">
				<th class="container-addon__cell">
					<img src="./assets/img/blank.gif" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
				<th class="container-addon__cell">
					<div class="main">
						<p class="main__paragraph">
							Сделали подборку must have, чтобы поездка гарантировано удалась и осталось место для покупок.
						</p>
					</div>
				</th>
				<th class="container-addon__cell">
					<img src="./assets/img/blank.gif" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
			</tr>
		</tbody>
	</table>
</container>
