<container class="container--menu">
	<table class="container-addon">
		<tbody class="container-addon__tbody">
			<tr class="container-addon__tr">
				<th class="container-addon__cell">
					<img src="./assets/img/blank.gif" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
				<th class="container-addon__cell">
					<menu class="menu menu--custom">
						<item href="#" target="_blank" class="menu__item">О НАС</item>
						<item href="#" target="_blank" class="menu__item">КУПИТЬ</item>
						<item href="#" target="_blank" class="menu__item">БЛОГ</item>
						<item href="#" target="_blank" class="menu__item">ВИДЕО</item>
						<item href="#" target="_blank" class="menu__item">АКЦИИ</item>
						<item href="#" target="_blank" class="menu__item menu__item--highlighted">BESTSELLERS</item>
					</menu>
				</th>
				<th class="container-addon__cell">
					<img src="./assets/img/blank.gif" width="30" height="1" class="container-addon__blank" alt="Blank gif">
				</th>
			</tr>
		</tbody>
	</table>
</container>
