<container class="container--products">
	<div class="products">
		<row class="products__item">
			<columns small="12" large="5" class="products__media">
				<a href="#" target="_blank" class="products__media-link">
					<img src="{{imgRoot}}/{{emailDirName}}/product.png" class="products__media-image" alt="Product 1">
				</a>
			</columns>
			<columns small="12" large="7" class="products__infoblock">
				<div class="products__name">
					<a href="#" target="_blank" class="products__name-link">
						Alterna
					</a>
				</div>
				<spacer size="10"></spacer>
				<div class="products__shortsay">
					Шампунь-регенерация Caviar Anti-Aging Restructuring Bond Repair
				</div>
				<spacer size="12"></spacer>
				<div class="products__price">
					1 030 руб.
				</div>
				<spacer size="16"></spacer>
				<div class="products__description">
					Восстанавливает поврежденные волосы, решает проблему секущихся кончиков. Технология Caviar Bond Enforcing Technology отвечает за защиту структуры волос и разглаживание кутикулы на срок до 10 процедур мытья.
				</div>
				<spacer size="30"></spacer>
				<button href="#" target="_blank" class="small-expanded small products__action">купить</button>
			</columns>
		</row>
		<spacer size="30"></spacer>
		<row class="products__item">
			<columns small="12" large="5" class="products__media">
				<a href="#" target="_blank" class="products__media-link">
					<img src="{{imgRoot}}/{{emailDirName}}/product.png" class="products__media-image" alt="Product 1">
				</a>
			</columns>
			<columns small="12" large="7" class="products__infoblock">
				<div class="products__name">
					<a href="#" target="_blank" class="products__name-link">
						Alterna
					</a>
				</div>
				<spacer size="10"></spacer>
				<div class="products__shortsay">
					Шампунь-регенерация Caviar Anti-Aging Restructuring Bond Repair
				</div>
				<spacer size="12"></spacer>
				<div class="products__price">
					1 030 руб.
				</div>
				<spacer size="16"></spacer>
				<div class="products__description">
					Восстанавливает поврежденные волосы, решает проблему секущихся кончиков. Технология Caviar Bond Enforcing Technology отвечает за защиту структуры волос и разглаживание кутикулы на срок до 10 процедур мытья.
				</div>
				<spacer size="30"></spacer>
				<button href="#" target="_blank" class="small-expanded small products__action">купить</button>
			</columns>
		</row>
	</div>
</container>
