<table class="social">
	<tbody class="social__tbody">
		<tr class="social__row">
			<th class="social__cell">
				<a href="#" target="_blank" class="social__link">
					<img src="./../assets/img/authentica-hero/facebook.png" height="20" alt="Facebook icon" class="social__image">
				</a>
			</th>
			<th class="social__cell social__cell--blank">
				<img src="./../assets/img/blank.gif" width="10" height="1" class="social__blank" alt="Blank gif">
			</th>
			<th class="social__cell">
				<a href="#" target="_blank" class="social__link">
					<img src="./../assets/img/authentica-hero/instagram.png" height="20" alt="Instagram icon" class="social__image">
				</a>
			</th>
			<th class="social__cell social__cell--blank">
				<img src="./../assets/img/blank.gif" width="10" height="1" class="social__blank" alt="Blank gif">
			</th>
			<th class="social__cell">
				<a href="#" target="_blank" class="social__link">
					<img src="./../assets/img/authentica-hero/youtube.png" height="20" alt="Youtube icon" class="social__image">
				</a>
			</th>
		</tr>
	</tbody>
</table>
